* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(69, 19, 68);
    color: white;
}

nav {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: black;
    justify-content: space-around;
    /* justify-content: space-between; */
    /* background-color: aqua; */
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 25px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(104, 91, 117);
    font-size: 1.2rem;
}


nav p {
    font-size: x-large;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.leftSection {
    margin-top: 10rem;
    width: 50%;
    /* background-color: rgb(61, 149, 71); */
    font-size: 3rem;
    vertical-align: middle;

}

.web_name {
    color: red;
    font-size: 43px;
}


.rightSection {
    width: 50%;
    font-size: large;
}

.rightSection img {
    width: 100%;
    height: 90%;
}

#element {
    color: rgb(255, 19, 19);
}

main hr {
    margin: 10px 70px;
    color: rgb(94, 59, 94);
    border-color: rgb(94, 59, 94);
}

.secondSection {
    height: 30rem;
}

.secondSection h1 {
    font-size: 1.5rem;
    margin: 10px 50px;
    height: 8 0vh;
}

.box {
    display: flex;
    height: 2px;
    margin: 100px 140px;
    /* width: 50%; */
    background-color: white;
}

.verticalLine {
    width: 1px;
    height: 80px;
    background-color: white;
    margin: 0px 118px;
}

.verticalText {
    display: flex;
    align-content: normal;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 190px;
    color: grey;
    font-size: 10px;
}

.verticalHeading {
    color: white;
    margin-top: 86px;
    font-size: 20px;
    width: 100px;
}
.smallImage img{
    height: 30px;
    width: 30px;
    margin: 0 50px;
}
footer{
    
    background-color: rgb(85, 15, 85);
    height: 160px;
}

footer ul{
    list-style: none;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 150px;
    padding: 20px;
    text-decoration: none;
}

.footer-first{
    margin: 0 50px;
}
.footer-first ul li{
    text-decoration: none;
    list-style: none;
}

.footer_reserved{
    color: grey;
    text-align: center;
}

.footer_reserved a{
    color: grey;
    text-decoration: none;
}

.leftSection .button button{
    background-color: rgb(116 33 116 / 86%);
    margin: 0 40px;
    /* border: 5px; */
    border-color: aliceblue;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
